div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand #{title}
            div.nav-collapse
                ul.nav
                  - each page, i in pages
                    - var isActive= (page.id == currentPage ) ? "active" : "";
                    li(class= isActive)
                        a(href= page.id )= page.title