!!! 5
html
  head
    title= title
    include ./includes/cssincludes
  body
    include ./includes/navbar
    div.container
      != body
      include ./includes/footer
    include ./includes/jsincludes
  