div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a(data-toggle='collapse',data-target='.nav-collapse').btn.btn-navbar
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a(href='#').brand #{title}
            div.nav-collapse
                ul.nav
                    li
                        a(href='/') Home
                    li.active
                        a(href='#') Blog
                    li
                        a(href='#') Contact
div.container
    footer
        p &copy; Company 2011